*
!bin
!bin/addmagnet
!bin/backup
!bin/bye!
!bin/checkbackup
!bin/count
!bin/cpsubs
!bin/dmenu_umount
!bin/EDITOR
!bin/forever
!bin/fzf
!bin/fzf-tmux
!bin/git-annex-remote-b2
!bin/img2clip
!bin/l
!bin/lsq
!bin/moveg
!bin/mylsw
!bin/myurxvtc
!bin/nvim-gtk
!bin/open
!bin/retags
!bin/runorraise
!bin/scmpuff
!bin/scrot-clip
!bin/song
!bin/stash
!bin/stream
!bin/term
!bin/toaudio
!bin/todo
!bin/transfer
!bin/upto
!bin/website-wget
!bin/whiteboard-cleaner
!bin/+x
!.config
!.config/dunst
!.config/dunst/dunstrc
!.config/i3
!.config/i3/config
!.config/nvim
!.emacs
!.freshrc
!.gitignore
!.gtkrc.mine
!install.sh
!.mpd
!.mpdconf
!.mpd/playlists
!.mpd/playlists/.gitkeep
!.ncmpcpp
!.ncmpcpp/bindings
!.spacemacs
!.tmux.conf
!.vim
!.vim/
!.vim/after
!.vim/after/plugin
!.vim/after/plugin/gutentags.vim
!.vim/autoload
!.vim/autoload/.gitkeep
!.vim/backup
!.vim/backup/.gitkeep
!.vim/init.vim
!.vimperatorrc
!.vimrc
!.vim/swap
!.vim/swap/.gitkeep
!.xinitrc
!.Xmodmap
!.Xresources
!.zlogin
!.zsh
!.zsh/cache
!.zsh/cache/.gitkeep
!.zsh/completion
!.zsh/completion/_song
!.zshrc
