*
!install.sh
!.gitignore
!.vimperatorrc
!.vimrc
!.vim
!.vim/init.vim
!.vim/
!.vim/backup
!.vim/backup/.gitkeep
!.vim/swap
!.vim/swap/.gitkeep
!.vim/autoload
!.vim/autoload/.gitkeep
!.Xresources
!.zshrc
!.emacs
!.zlogin
!.freshrc
!.gtkrc.mine
!.config
!.config/dunst
!.config/dunst/dunstrc
!.config/nvim
!.tmux.conf
!bin
!bin/addmagnet
!bin/backup
!bin/backup
!bin/bye!
!bin/checkbackup
!bin/count
!bin/cpsubs
!bin/EDITOR
!bin/fzf
!bin/fzf-tmux
!bin/img2clip
!bin/mylsw
!bin/myurxvtc
!bin/open
!bin/retags
!bin/runorraise
!bin/scrot-clip
!bin/scmpuff
!bin/song
!bin/stash
!bin/toaudio
!bin/todo
!bin/transfer
!bin/upto
!bin/website-wget
!bin/whiteboard-cleaner
!bin/+x
