urxvt*background: black
urxvt*foreground: white
URxvt.font: xft:Monospace:pixelsize=15
URxvt.perl-ext-common:  default
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    3
URxvt.tabbed.tab-bg:    0
URxvt.color4  : #34346565A4A4
URxvt.color12 : #77f
URxvt.color14 : #859900
URxvt*urgentOnBell: true
