urxvt*background: #111111
urxvt*foreground: #eeeeee
URxvt.font: xft:Deja Vu Sans Mono:pixelsize=15
URxvt.perl-ext-common:  default
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    3
URxvt.tabbed.tab-bg:    0
URxvt.color4  : #34346565A4A4
URxvt.color12 : #77f
URxvt.color14 : #859900
URxvt*urgentOnBell: true
URxvt*saveLines: 1000000

UXTerm.vt100.background: black
UXTerm.vt100.foreground: lightgray
UXTerm.vt100.faceName: monospace:pixelsize=16
UXTerm.vt100.metaSendsEscape: true
UXTerm.vt100.saveLines: 100000
UXTerm.vt100.bellIsUrgent: true
UXTerm.termName: xterm-256color
